# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Docker
*.log
*.pid
*.sock
*/__pycache__/
*/logs/
*/tmp/
*/data/
*/postgres_data/
*/minio_data/

# Jupyter / IDEs
.ipynb_checkpoints
.vscode/
.idea/

# Airflow
airflow/logs/
airflow/dags/__pycache__/

# System files
.DS_Store
Thumbs.db

